@model comeagua.Models.CodeEventViewModel
@{
    ViewBag.Title = "EnterEvent";
}

<h2>EnterEvent</h2>

<form class="findEvent" action="../../Home/FindEvent">
    <p class="text">Código para entrar em um evento:</p>
    @Html.TextBoxFor(m => m.codeEvent, new { @class = "findEvent", @type = "text" })
    <a><input type="submit" class="btn_register" value="Entrar em evento" /></a>
</form>

<style>
    form.findEvent input[type=text] {
        position: absolute;
        padding: 15px;
        font-size: 12px;
        font-family: sans-serif;
        border: 3px solid Black;
        float: left;
        width: 500px;
        background: white;
        margin-top: 100px;
        margin-left: 300px;
        border-radius: 30px;
        font-family: Poppins, Helvetica, sans-serif;
        outline: 0;
    }
</style>