

*{
    font-family: Poppins, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

ul {
    margin: 0px;
    list-style: none;
}

li {
    display: inline;
}




#copyright_id {
    position: absolute;
    margin-top: 129%;
    width: 6%;
}


/* Style the search field */


.ball {
    position: absolute;
    animation: animate 15s linear infinite;
    z-index: -5;
}

.ball2 {
    position: absolute;
    animation: animate 18s linear infinite;
    z-index: -5;
    left: 80%;
}

.ball3 {
    position: absolute;
    animation: animate 22s linear infinite;
    z-index: -5;
    left: 55%;
    width: 10%;
}

@keyframes animate {
    0% {
        transform: translateY(800%);
    }

    100% {
        transform: translateY(-800%);
    }
}
